@import "../../colorPanel";

#root {
    .custom-form {
        padding: 2rem;
        text-align: center;

        &__title {
            margin-bottom: 2rem;
        }

        &__field-container {
            display: flex;
            flex-direction: column;
        }

        &__input {
            width: 100%;
            padding-bottom: 1rem;
        }

        &__button {
            margin-top: 1rem;
            width: 100%;
            background-color: $black-color;
        }
    }

    .breadcrumb {
        display: flex;
        flex-direction: row;
        color: $white-color;

        &__container {
            display: flex;
            flex-direction: row;
        }

        &__link {
            color: $purple-light-color;
        }

        &__link:visited {
            color: $purple-light-color;
        }

        &__separator {
            margin: 0 0.5rem;
        }
    }

    .custom-table {
        background-color: $dark-light-color;
        color: $white-color;

        &__column {
            color: $white-color;
            border: 1px solid $black-color;

            &__action {
                color: $white-color;
                text-align: right;
                width: 30%;
                border: 1px solid $black-color;
            }
        }

        &__cell {
            color: $white-color;
            border: 1px solid $black-color;

            &__action {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                border-bottom: 1px solid $black-color;
            }
        }

        &__button {
            color: $white-color;
            border: 1px solid $white-color;

            &__delete {
                color: $red-light-color;
                border: 1px solid $red-light-color;
                margin-left: 1rem;
            }
        }
    }
}