// Color panel
//// Dark mode
$purple-dark-color: #8B38A8;
$purple-light-color: #C845F5;
$green-dark-color: #208F22;
$green-light-color: #38F53B;
$red-dark-color: #A82C16;
$red-light-color: #F54B2C;
$dark-dark-color: #242429;
$dark-light-color: #302F37;
$grey-color: #7D7B8D;
$black-color: #000000;
$white-color: #DEDEDE;

//// Light mode
//$purple-dark-color: #8B38A8;
//$purple-light-color: #8B38A8;
//$green-dark-color: #38F53B;
//$green-light-color: #208F22;
//$red-dark-color: #F54B2C;
//$red-light-color: #A82C16;
//$dark-dark-color: #FFFFFF;
//$dark-light-color: #D7D7D7;
//$grey-color: #7D7B8D;
//$black-color: #FFFFFF;
//$white-color: #000000;

// Size
$mobile-size: 768px;
$laptop-size: 769px;