// Color panel
$purple-dark-color: #8B38A8;
$purple-light-color: #C845F5;
$green-dark-color: #208F22;
$green-light-color: #38F53B;
$red-dark-color: #A82C16;
$red-light-color: #F54B2C;
$dark-dark-color: #242429;
$dark-light-color: #302F37;
$grey-color: #7D7B8D;
$black-color: #000000;
$white-color: #DEDEDE;

// Size
$mobile-size: 768px;
$laptop-size: 769px;