@use "colorPanel" as color;

#root {
    .breadcrumb {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        color: color.$white-color;

        &__container {
            display: flex;
            flex-direction: row;
        }

        &__link {
            color: color.$purple-light-color;
        }

        &__link:visited {
            color: color.$purple-light-color;
        }

        &__separator {
            margin: 0 0.5rem;
        }
    }

    .table-manager {
        &__top-bar {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 1rem;
        }

        &__create-button {
            height: 100%;
            aspect-ratio: 1 / 1;

            svg {
                height: 2rem;
                width: 2rem;
            }
        }

        .table.dark-light-box {
            padding: 0;
        }
    }

    .table-filter {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;

        &__field-container {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 1rem;
        }

        &__button-container {
            display: flex;
            gap: 1rem;
        }
    }

    .table {
        border-collapse: separate;

        &__column {
            color: color.$white-color;
            border-bottom: 1px solid color.$black-color;

            &__action {
                color: color.$white-color;
                border-bottom: 1px solid color.$black-color;
                text-align: right;
            }
        }

        &__cell {
            color: color.$white-color;
            border-bottom: 1px solid color.$black-color;

            &__action {
                border-bottom: 1px solid color.$black-color;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: flex-end;
                gap: 1rem;
            }
        }

        tr:last-child td {
            border: 0;
        }
    }

    .top-page {
        &__title {
            color: color.$white-color;
            margin: 1rem 0;
            font-size: 2rem;
        }
    }

    .notification-box {
        border: 1px solid color.$black-color;
        border-collapse: separate;
        padding: 1rem;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    .notification-success {
        background-color: color.$green-dark-color;
    }

    .notification-error {
        background-color: color.$red-dark-color;
    }

    .notification-info {
        background-color: color.$dark-dark-color;
    }

    .notification-warning {
        background-color: color.$purple-dark-color;
    }
}

.popup {
    .MuiDialog-paper {
        background-color: color.$dark-light-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid color.$black-color;
        border-radius: 10px;
        max-width: 40rem;
        padding: 1rem;
    }

    &__title {
        color: color.$red-light-color;
    }

    &__content {
        color: color.$white-color;
        text-align: center;
        padding-top: 0!important;
        padding-bottom: 0!important;
    }

    &__actions {
        display: flex;
        padding-top: 1.5rem!important;
        padding-bottom: 1rem!important;
        gap: 2rem;
    }

    .white-button {
        color: color.$white-color;
        border: 1px solid color.$white-color;
    }

    .green-button {
        color: color.$green-light-color;
        border: 1px solid color.$green-light-color;
    }

    .red-button {
        color: color.$red-light-color;
        border: 1px solid color.$red-light-color;
    }
}
