@import "colorPanel";

#root {
    .form {
        padding: 2rem;
        text-align: center;

        &__title {
            margin-bottom: 2rem;
        }

        &__field-container {
            display: flex;
            flex-direction: column;
        }

        &__input {
            width: 100%;
            padding-bottom: 1rem;
        }

        &__button {
            margin-top: 1rem;
            width: 100%;
            background-color: $black-color;
        }
    }

    .breadcrumb {
        display: flex;
        flex-direction: row;
        color: $white-color;

        &__container {
            display: flex;
            flex-direction: row;
        }

        &__link {
            color: $purple-light-color;
        }

        &__link:visited {
            color: $purple-light-color;
        }

        &__separator {
            margin: 0 0.5rem;
        }
    }

    .table-manager {
        &__top-bar {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 1rem;
        }

        &__create-button {
            height: 100%;
            aspect-ratio: 1 / 1;

            svg {
                height: 2rem;
                width: 2rem;
            }
        }
    }

    .table-filter {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;

        &__field-container {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 1rem;
        }

        &__button-container {
            display: flex;
            gap: 1rem;
        }
    }

    .table {
        border-collapse: separate;

        &__column {
            color: $white-color;
            border-bottom: 1px solid $black-color;

            &__action {
                color: $white-color;
                border-bottom: 1px solid $black-color;
                text-align: right;
                width: 20%;
            }
        }

        &__cell {
            color: $white-color;
            border-bottom: 1px solid $black-color;

            &__action {
                border-bottom: 1px solid $black-color;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                gap: 1rem;
            }
        }

        tr:last-child td {
            border: 0;
        }
    }

    .top-page {
        &__title {
            color: $white-color;
            margin: 1rem 0;
            font-size: 2rem;
        }
    }

    .notification-box {
        border: 1px solid $black-color;
        border-collapse: separate;
        padding: 1rem;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    .notification-success {
        background-color: $green-dark-color;
    }

    .notification-error {
        background-color: $red-dark-color;
    }

    .notification-info {
        background-color: $dark-dark-color;
    }

    .notification-warning {
        background-color: $purple-dark-color;
    }
}

.popup {
    .MuiDialog-paper {
        background-color: $dark-light-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $black-color;
        border-radius: 10px;
        max-width: 40rem;
        padding: 1rem;
    }

    &__title {
        color: $red-light-color;
    }

    &__content {
        color: $white-color;
        text-align: center;
        padding-top: 0!important;
        padding-bottom: 0!important;
    }

    &__actions {
        display: flex;
        padding-top: 1.5rem!important;
        padding-bottom: 1rem!important;
        gap: 2rem;
    }

    .white-button {
        color: $white-color;
        border: 1px solid $white-color;
    }

    .green-button {
        color: $green-light-color;
        border: 1px solid $green-light-color;
    }

    .red-button {
        color: $red-light-color;
        border: 1px solid $red-light-color;
    }
}
