@import "colorPanel";

#root {
    color: $white-color;

    .form {
        &__field-container {
            margin: 1rem 0;
            gap: 1rem;
        }

        &__field-container-line {
            margin: 1rem 0;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }

        &__button-container {
            margin-top: 2rem;
            display: flex;
            gap: 1rem;
            justify-content: center;
            flex-wrap: wrap;
        }

        .dark-light-box {
            padding: 2rem 2rem 1rem 2rem;
        }
    }

    .field {
        min-width: 14rem;
        width: fit-content;

        .MuiOutlinedInput-input {
            color: $white-color;
        }

        .MuiOutlinedInput-notchedOutline {
            color: $grey-color;
        }

        .Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
            border-color: $purple-light-color;
            -webkit-transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,
            transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
        }

        .MuiInputLabel-root {
            color: $grey-color;
        }

        .Mui-focused.MuiInputLabel-root {
            color: $purple-light-color;
            -webkit-transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,
            transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
        }

        input,
        select {
            color: $white-color;
        }

        select option {
            color: $black-color;
        }
    }

    .field-false {
        min-width: 14rem;
        width: fit-content;
        border: 1px solid rgba(0, 0, 0, 0.23);
        border-radius: 4px;
        align-content: center;

        p {
            margin-left: 14px;
            color: $white-color;
        }
    }

    .white-button {
        color: $white-color;
        border: 1px solid $white-color;
    }

    .green-button {
        color: $green-light-color;
        border: 1px solid $green-light-color;
    }

    .red-button {
        color: $red-light-color;
        border: 1px solid $red-light-color;
    }
}

.dark-light-box {
    background-color: $dark-light-color;
    border: 1px solid $black-color;
    border-collapse: separate;
    border-radius: 10px;
}

::selection {
    color: $black-color;
    background: $green-light-color;
}
