@import "colorPanel";

#root {
    color: $white-color;

    .page-title {
        margin: 1rem 0;
        font-size: 2rem;
    }

    ::selection {
        color: $black-color;
        background: $green-light-color;
    }

    .table-filter {
        background-color: $dark-light-color;
        border: 1px solid $black-color;
        border-collapse: separate;
        border-radius: 10px;
        padding: 16px;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;

        &__field-container {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            gap: 1rem;
        }

        &__field {
            width: 14rem;

            .MuiOutlinedInput-notchedOutline {
                color: $grey-color;
            }

            .Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
                border-color: $purple-light-color;
                -webkit-transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,
                transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
            }

            .MuiInputLabel-root {
                color: $grey-color;
            }

            .Mui-focused.MuiInputLabel-root {
                color: $purple-light-color;
                -webkit-transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,
                transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
            }

            input,
            select {
                color: $white-color;
            }

            select option {
                color: $black-color;
            }
        }
    }
}