@import "colorPanel";

#root {
    .login-page {
        display: flex;
        height: 100vh;

        ::selection {
            color: white;
            background: #0074ffcc;
        }

        &__left-side {
            // Sélecteurs du côté gauche de la page
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 500px;
            background-color: $white-color;
            position: relative;

            .login-form {
                // Styles pour le composant CustomForm
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 1rem;

                &__title {
                    color : $black-color;
                    font-size: 3rem;
                    margin-bottom: 2rem;
                }

                &__field-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                &__input {
                    margin-bottom: 1rem;
                    min-width: 20rem;
                }

                &__button {
                    margin-top: 2rem;
                }

                &__link {
                    position: absolute;
                    min-width: max-content;
                    bottom: 3rem;
                    right: 10%;
                }
            }
        }

        &__right-side {
            // Sélecteurs du côté droit de la page
            flex: 1;
            background-color: $white-color;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            @media (max-width: 800px) {
                flex: min-content;
            }


            @media (max-width: 500px) {
                display: none;
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                filter: brightness(40%);
            }

            .login-comment {
                // Style pour le commentaire
                position: absolute;
                color: $white-color;
                top: 30%;
                left: 40%;
                transform: translate(-50%, -50%);
                z-index: 1;

                @media (max-width: 800px) {
                    display: none;
                }
            }
        }
    }
}