// Déclaration de variable
$black-color: #000000;
$white-color: #ffffff;
$success-color: green;
$fail-color: red;
$min-with-left: 450px;

#root {
    .login-page {
        display: flex;
        height: 100vh;

        &__left-side {
            // Sélecteurs du côté gauche de la page
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-width: $min-with-left;
            background-color: $white-color;
            position: relative;

            .custom-log {
                // Styles pour le composant LoginLog
                top: 3rem;
                left: 50%;
                transform: translate(-50%, -50%);
                margin-top: 3rem;
            }

            .custom-form {
                // Styles pour le composant CustomForm
                max-width: $min-with-left;

                &__input-container {
                    display: flex;
                    flex-direction: column;
                }

                &__link {
                    position: absolute;
                    min-width: max-content;
                    bottom: 3rem;
                    right: 10%;

                    @media (max-width: $min-with-left * 2) {
                        right: 3rem;
                    }
                }
            }
        }

        &__right-side {
            // Sélecteurs du côté droit de la page
            flex: 1;
            background-color: $white-color;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            @media (max-width: $min-with-left) {
                display: none;
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                filter: brightness(40%);
            }

            .login-comment {
                // Style pour le commentaire
                position: absolute;
                color: $white-color;
                top: 30%;
                left: 40%;
                transform: translate(-50%, -50%);
                z-index: 1;

                @media (max-width: $min-with-left * 2) {
                    display: none;
                }
            }
        }
    }
}